graft docs
graft src
graft ci
graft tests

include .coveragerc

include LICENSE
include README.md
include CHANGELOG.rst

include tox.ini .travis.yml .readthedocs.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
